<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

</div>
<table>
  <thead>
  <th class="col-sm-3">ID</th>
  <th class="col-sm-3">NAME</th>
  </thead>
<tr *ngFor="let details of Details">

<td class="col-sm-3">{{details.id}}</td>
<td class="col-sm-3">{{details.name}}</td>
</tr>
</table>
<table>
    <thead>
    <th class="col-sm-3">ID</th>
    <th class="col-sm-3">NAME</th>
    </thead>
  <tr *ngFor="let details of StuDetail">
  <td class="col-sm-3">{{details.id}}</td>
  <td class="col-sm-3">{{details.Stuname}}</td>
  </tr>
  </table>

  <div class="panel-body">

<div><label>UserName : </label>
  <input #passwordtextbox type="text"><br><br>
  <label>Password : </label>
  <input #passwordtextbox type="text"><br><br>
  <button type="submit" >Login</button>
</div>

  </div>
<app-get-data></app-get-data>

